<?xml version="1.0" encoding="UTF-8" ?>
<configuration xmlns="http://logging.apache.org/log4php/">
    <appender name="generalLogAppender" class="LoggerAppenderFile">
        <param name="file" value="logs/general.log" />
         <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%date|%logger|%M|%l|%message%newline" />
        </layout>
    </appender>
    <appender name="httpLogAppender" class="LoggerAppenderFile">
        <param name="file" value="logs/http.log" />
         <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%date|%logger|%M|%l|%message%newline" />
        </layout>
    </appender>
    <appender name="errorLogAppender" class="LoggerAppenderFile">
        <param name="file" value="logs/errors.log" />
         <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%date|%logger|%M|%l|%message%newline" />
        </layout>
    </appender>
    
    <logger name="HTTP">
        <appender_ref ref="httpLogAppender" />
    </logger>
    
    <logger name="ERROR">
        <appender_ref ref="errorLogAppender" />
    </logger>

    <root>
        <level value="INFO" />
        <appender_ref ref="generalLogAppender" />
    </root>
</configuration>
